.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #3B3131;
    background-color: #3B3131;
    
}
 
.logo{
    width: 179px;
    padding-top: 5px;
    /* padding-left: 51px; */
}
 
.nav-items{
    font-size: 20px;
    display:flex;
}
 
.nav-items > ul{
    display: flex;
    color:#ffff;
  
}
 
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
 
.search{
    padding: 10px;
}
 
.res-container{
    display: block;
} 
.res-card{
    width: 17.5%;

}
 
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
 
.res-logo{
    width: 100%;
}